[Unit]
Description=Passenger Standalone Application Server
After=network.target

[Service]
Type=forking
PrivateTmp=yes
User=railsapp
Group=railsapp
WorkingDirectory=/srv/apps/%i
PIDFile=/srv/apps/%i/passenger/app.pid
ExecStart=/usr/local/bin/passenger-app %i start
ExecReload=/usr/local/bin/passenger-app %i reload
ExecStop=/usr/local/bin/passenger-app %i stop

[Install]
WantedBy=multi-user.target
