[Unit]
Description=Passenger Standalone Application Server
After=network.target

[Service]
Type=forking
PrivateTmp=yes
User=USERNAME
Group=GROUPNAME
WorkingDirectory=/apps/%i
PIDFile=/run/passenger/%i.pid
EnvironmentFile=/apps/%i/current/config/passenger.env
ExecStart=/usr/bin/bash -c 'exec ${PASSENGER_ROOT}/bin/passenger start current --daemonize --instance-registry-dir /run/passenger-instreg --socket /run/passenger/%i.sock --pid-file /run/passenger/%i.pid --log-file /apps/%i/shared/log/passenger.log --environment production $PASSENGER_OPTS'
ExecReload=/usr/bin/bash -c 'exec ${PASSENGER_ROOT}/bin/passenger-config restart-app /apps/%i'
ExecStop=/usr/bin/bash -c 'exec ${PASSENGER_ROOT}/bin/passenger stop --pid-file /run/passenger/%i.pid'
 
[Install]
WantedBy=multi-user.target
